<div class="about">
    <div class="about__left">
        <div class="about__left-bg--white"></div>
        <div class="about__left-bg--blue"></div>
        <div class="about__left-effect"></div>
        <div class="about__left__socialMedias">
            <div class="about__left__socialMedias--socialMedia">
                <h3>Github</h3>
                <a href="https://github.com/CMarzin">
                    <img src="img/github_logo.svg" alt="Github logo">
                </a>
            </div>
            <div class="about__left__socialMedias--socialMedia">
                <h3>Codepen</h3>
                <a href="https://codepen.io/Emicor/"><img src="img/codepen_logo.png" alt="Codepen logo"></a>
            </div>
            <div class="about__left__socialMedias--socialMedia">
                <h3>Twitter</h3>
                <a href="https://twitter.com/marz_coco"><img src="img/twitter_logo.svg" alt="Twitter logo"></a>
            </div>
            <div class="about__left__socialMedias--socialMedia">
                <h3>Linkedin</h3>
                <a href="https://www.linkedin.com/in/corentin-marzin-4a4371107/"><img src="img/linkedin_logo.svg" alt="Lindekin logo"></a>
            </div>
        </div>

    </div>
    <div class="about__right">
        <div class="about__right__text">
            <h1>{{title}}</h1>
            <h3>{{location}}</h3>
            <h3>{{desc}}</h3>
            <h3>{{internship}}</h3>
            <h3>{{title_contact}}</h3>
            <h3><a href="mailto:{{mail}}">{{mail}}</a></h3>
        </div>
        <div class="about__right-bg--white"></div>
    </div>
</div>
