<div class="container">
    <div class="rectangle">
      {{#projects}}
      <div class="clip-rectangle clip-rectangle--{{project.id}}" style="background-image: url('img/{{project.id}}.png'); clip-path: url('#svgPath');"></div>
          <div class="container__title">
              <div class="container__title__project container__title__project--{{project.id}}">
                  <div class="container__title--flex container__title--{{project.id}}">
                    <h2>{{project.name}}</h2>
                    <h3>{{project.agency}}</h3>
                    <div class="container__button--open container__button--{{project.id}}">
                      <p>See the project</p>
                    </div>
                  </div>
              </div>
          </div>
      {{/projects}}
    </div>
    <svg xmlns="https://www.w3.org/2000/svg">
    <defs>
      <clipPath id="svgPath">
        <rect class="rect1" style="x: 20px; y: 10px;" stroke="#000000" stroke-miterlimit="10"/>
        <rect class="rect2" style="width: 150px; height: 120px; x: 50px; y: 230px;" stroke="#000000" stroke-miterlimit="10"/>
        <rect class="rect3" style="width: 250px; height: 250px; x: 230px; y: 40px;"stroke="#000000" stroke-miterlimit="10"/>
      </clipPath>
     </defs>
   </svg>
</div>
